<?xml version="1.0" encoding="UTF-8"?>
<!-- *Mapper.xml 정의->*(테이블명)Mapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- 댓글 처리 batis -->
<mapper namespace="customerMapper">

   <!-- 게시글 전체 조회 -->
   <select id="selectList" resultType="com.foods.vo.customerVO">
      SELECT customerNo, customerTitle, customerContent, customerWriter, customerRegdate, customerCnt FROM foods_customer ORDER BY customerNo
   </select>
   <!-- 게시글 등록 -->
   <insert id="insert">
      INSERT INTO foods_customer(customerTitle, customerContent, customerWriter) VALUES (#{customerTitle}, #{customerContent}, #{customerWriter})
   </insert>
   <!-- 게시글 상세 조회 -->
   <!-- 게시글+회원관리 결합해서 필요한 필드만 추출 -->
   <!-- Left Join -->
   <!-- select 테이블명.필드 from 테이블명 별칭(알파벳) left join 참조테이블 별칭 on 테이블.필드 = 참조테이블.필드 -->
   <select id="view" resultType="com.foods.vo.customerVO">
      SELECT a.customerNo, a.customerTitle, a.customerContent, a.customerWriter, a.customerRegdate, a.customerCnt, b.memberName 
      FROM foods_customer a left join foods_member b on a.customerWriter = b.memberId WHERE customerNo=#{customerNo}
   </select>
   <!-- 게시글 수정 -->
   <update id="update">
      UPDATE foods_customer SET customerTitle=#{customerTitle}, customerContent=#{customerContent}, customerWriter=#{customerWriter} WHERE customerNo=#{customerNo}
   </update>
   <!-- 게시글 삭제 -->
   <delete id="delete">
      DELETE FROM foods_customer WHERE customerNo=#{customerNo}
   </delete>
   <!-- 게시글 조회수 증가(customercnt) -->
   <!-- 해당 게시글에 조회수를 1증가 -->
   <update id="increaseViewcnt">
      UPDATE foods_customer SET customerCnt = customerCnt+1 WHERE customerNo=#{customerNo}
   </update>

	<!-- 01_02. 게시글 레코드 갯수 -->
	<select id="countArticle" resultType="int">
	 
	    SELECT COUNT(*) 
	    FROM foods_customer
	 
	    <!-- WHERE절을 include 태그로 삽입 -->
	    <include refid="search"></include>
	 
	</select>
	
	<!-- 게시글 검색기능을 추가 -->
	<!-- 제목+이름, 제목(title), 이름(writer) -->
	<!-- 모든 조회 + 옵션으로 추가기능 -->
	<!-- 질의어를 추가 include refid="추가" -->
	<select id="listAll" resultType="com.foods.vo.customerVO">
		SELECT customerNo, customerTitle, customerContent, customerWriter, customerRegdate, customerCnt FROM foods_customer 
		<include refid="search"></include> <!-- 질의어에 해당부분을 추가 -->
		<include refid="pageingFooter"></include>
	</select> 
	<!-- sql의 일부분을 분리해서 선언할 때 -->
	<!-- == 같은것 찾을 때, like 포함되어 있는 것 찾을 때 -->
	<!-- writer like 홍길동%-시작하는 단어, %홍길동-끝나는 단어, %홍길동%-포함된 단어  -->
	<sql id = "search">
		<choose>
			<when test="searchOption == 'all'">
				<!-- 모든곳에서 조회 -->
				WHERE (customerWriter like concat('%',#{keyword},'%')
				OR customerTitle like concat('%',#{keyword},'%')
				OR customerContent like concat('%',#{keyword},'%'))
			</when>
			<otherwise>
				<!-- 해당부분에서만 조회 -->
				WHERE (${searchOption} like concat('%',#{keyword},'%'))
			</otherwise>
		</choose>		
	</sql>
	
	<!-- 페이징 sql -->
	<sql id="pageingFooter">	    
	   <!--  LIMIT #{end} OFFSET #{start}  -->
	   		 LIMIT #{end} OFFSET #{start} 
	</sql>	

</mapper>
<!-- mapper를 완성한 후에 dao로 가서 작업 -->